@import "~bootstrap/scss/bootstrap";

:root {
  --navbar-height: 0px;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.router {
  display: flex;
  justify-content: center;
  flex: 1;
  min-height: 0;
}

.card {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.loading--font-size {
  font-size: 1.25rem;
  font-weight: 600;
}

.border-radius-50 {
  border-radius: 50%;
}

.screen-height {
  height: calc(100vh - var(--navbar-height));
}